@model RedeSocial.Models.PerfilViewModel

@{
    ViewData["Title"] = "Aceitar";
}

<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-opacity" style="left:0;width:20%;">
    <div>
        <br />
        <div class="w3-row">
            <img src="~/images/avatar/@ViewBag.AvatarPerfil" style="width:60px;height:60px;display: inline-block;" />
            <h4 style="display: inline-block;">@ViewBag.NomePerfil</h4>
        </div>
        <br />
    </div>
    <div class="w3-container w3-dark-grey">
        <h4>Menu</h4>
    </div>
    <a class="w3-bar-item w3-button w3-red">Home</a>
    <a href="~/perfil/details/@ViewBag.Id" class="w3-bar-item w3-button">Dados do Perfil</a>
    <a href="~/perfil/edit/@ViewBag.Id" class="w3-bar-item w3-button">Editar Perfil</a>
    <a href="~/mensagem/create" class="w3-bar-item w3-button">Nova Mensagem</a>
    <a href="~/perfil/pesquisa" class="w3-bar-item w3-button">Pesquisa</a>
    <a href="~/amigo" class="w3-bar-item w3-button">Amizades</a>
    <a href="~/perfil/timeline" class="w3-bar-item w3-button">Timeline</a>
    <a href="~/amigo/convites" class="w3-bar-item w3-button">Convites</a>
    <a href="~/perfil/delete/@ViewBag.Id" class="w3-bar-item w3-button">Deletar Perfil</a>
</div>

<div class="w3-container w3-animate-opacity" id="dados" style="margin-left:20%">
    <div class="w3-content" style="max-width:700px">

        <h5 class="w3-padding-48"><span class="w3-wide w3-xlarge">Deseja adicionar essa pessoa na sua rede?</span></h5>
        <div id="Mensagens" class="w3-container menu w3-padding-16 w3-card">

            <div class="w3-panel">
                <p class="w3-large">
                    <i>@Html.DisplayNameFor(model => model.Nome)</i>
                </p>
                <p>@Html.DisplayFor(model => model.Nome)</p>
            </div>
            <div class="w3-panel">
                <p class="w3-large">
                    <i>@Html.DisplayNameFor(model => model.Email)</i>
                </p>
                <p>@Html.DisplayFor(model => model.Email)</p>
            </div>
            <div class="w3-panel">
                <p class="w3-large">
                    <i>@Html.DisplayNameFor(model => model.Sobre)</i>
                </p>
                <p>@Html.DisplayFor(model => model.Sobre)</p>
            </div>

        </div>
        <br />
        <form asp-action="Aceitar">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Aceitar" class="btn btn-default btn-primary" />
        </form>
    </div>
</div>



